.header {
    display: flex;
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
}

.header-text {
    text-align: right;

}

#text-all-things-are {
    color: #151414;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    margin-top: 216px;
    padding-right: 230px;
    padding-left: 845px;
    width: 525px;
}

#text-there-are {
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 494px;
    padding: 24px 0px 32px 876px;
}

#button {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-right: 230px;
}

/* main */

#person-position-fix {
    width: 569px;
    height: 666.5px;
    padding-top: 131px;
    padding-left: 206px;


}

#a {
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
    margin-top: 195px;
    padding-left: 22px;
}

.main-header {
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
    padding-top: 239px;
    padding-left: 87px;
    padding-bottom: 24px;
}

.main-2-row {
    display: flex;
}

.main-description {
    width: 416px;
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding: 0px 0px 16px 87px;
}
.main-list {
    padding-left: 100px;

}
.main-list li{
    padding-bottom: 8px;
}
.my-plan{
    color: var(--Dark-01, #151414);
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 186px;
padding-left: 711px;
width: 179px;
}
